<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Configuración del Juego</title>
</head>
<body>
    <h1>Configuración del Juego de Ahorcado</h1>
        <form action="/iniciar-juego" method="post">
            <label for="longitud">Longitud de la Palabra:</label>
            <input type="number" id="longitud" name="longitud" required><br>

            <label for="intentos">Número Máximo de Intentos:</label>
            <input type="number" id="intentos" name="intentos" required><br>

            <label for="tema">Tema del Juego:</label>
            <select id="tema" name="tema" required>
                <option value="Animales">Animales</option>
                <option value="Frutas">Frutas</option>
                <option value="Países">Países</option>
            </select><br>

            <button type="submit">Guardar Configuración</button>
        </form>

    <p th:if="${mensaje}" th:text="${mensaje}"></p>
</body>
</html>